<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
        <br>Title: {{ book.title }} <br>
        Authors: {{ book.authors.first_name}} {{ book.authors.last_name}}   <br>
        Publisher: {{ book.publisher.name }} <br>
        Published: {{ book.published }} <br>
        {% if book.book_img %}
            <img src="{{  book.book_img.url }}" width="200" height="200" >
        {% else  %}
            <img src="{% static 'DEFAULT.jpg' %}" width="200" height="200" >
        {% endif %}
        <br>
        
</body>
</html>